@mixin flex-container($direction: row, $justify: normal, $align: normal, $wrap: wrap, $inline: false) {
  @if ($inline = false) {
      display: flex;
  }
  @else {
      display: inline-flex;
  }

  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $justify;
  align-items: $align;
}