@import "./Core";

$header-brand-opacity: 0.75;
$header-brand-active-opacity: 1;
$header-brand-link-color: hsl(0, 0%, 20%);

$header-divider-margin: 2em;

$header-nav-item-margin-x: 2em;
$header-nav-item-margin-y: 1em;
$header-nav-item-divider-border-width: 1px;
$header-nav-item-divider-border-color: hsl(0, 0%, 90%);

$header-nav-link-color: hsl(0, 0%, 30%);
$header-nav-link-active-color: darken($header-nav-link-color, 75%);

.app-header {
  @include flex-container(row, space-between, flex-start);
  margin-bottom: 1em;
  padding-top: 1em;
  padding-bottom: 1em;

  border-bottom: 1px solid hsl(0, 0%, 92%);

  .header-brand {
    @include flex-container(row, flex-start, center);

    opacity: $header-brand-opacity;

    transition: opacity 150ms ease-in;

    &.active,
    &:hover,
    &:focus {
      opacity: $header-brand-active-opacity;
    }

    .brand-name {
      display: flex;

      margin: 0 0 0 1em;

      font-size: 1.75em;
      font-weight: 400;

      color: $header-brand-link-color;
      text-transform: uppercase;

      transition: color $transition-duration ease-in;
    }

    &:hover,
    &:focus {
      text-decoration: none;

      & > .brand-name {
        color: darken($header-brand-link-color, 10%);
        text-decoration: none;
      }
    }
  }

  .header-divider {
    display: flex;
    align-self: stretch;
    width: $header-nav-item-divider-border-width;

    margin: ($header-divider-margin * 0.125) $header-divider-margin;

    border-right: $header-nav-item-divider-border-width solid
      $header-nav-item-divider-border-color;
  }

  .header-nav {
    @include flex-container(row, space-between, center);
    align-self: center;
    flex: 1;

    &:not(.nav-right) {
      @include flex-container(row, flex-start, center, nowrap);
    }
    &.nav-right {
      @include flex-container(row, flex-end, center, nowrap);
    }

    margin: 0;
    padding: 0;
    list-style-type: none;

    .nav-item {
      display: flex;
      margin: 0;
      padding: 0;

      &:not(:last-child) {
        margin-right: $header-nav-item-margin-x;
      }

      &:hover,
      &:focus {
        & > a.nav-link {
          color: $header-nav-link-active-color;
        }
      }

      a.nav-link {
        display: inline-block;
        padding: ($header-nav-item-margin-y / 2) 0;

        font-size: 1.1em;
        font-weight: 500;

        color: $header-nav-link-color;
        text-decoration: none;
        text-transform: uppercase;

        transition: color $transition-duration ease-in;

        &.active {
          color: $header-nav-link-active-color;
        }

        .nav-icon {
          transition: fill 0.5s ease-in-out;

          &.dark {
            fill: $app--color;
          }

          &.light {
            fill: $app--color--light;
          }
        }
      }
    }
  }

  $app-header-nav-link-color: hsl(0, 0%, 30%);

  .app-header {
    .nav-menu.site-nav {
      li.nav-item {
        &:not(:last-item) {
          margin-right: 2em;
        }

        &:hover,
        &:focus {
          & > a {
            color: darken($app-header-nav-link-color, 20%);
          }
        }

        a {
          font-weight: 500;
          font-size: 1em;

          color: $app-header-nav-link-color;
          text-transform: uppercase;
          letter-spacing: 0.16em;

          transition: color $transition-duration ease-in;
        }
      }
    }
  }
}
