.list-timeline {
  position: relative;

  .vertical-line {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 2px;
    height: 100%;

    border-left: 1px solid #fefefe;

    z-index: 0;
  }

  .item {
    @include flex-container(row, flex-start, flex-start);
    margin: 0.5rem 0;

    .col-ident {
      flex: 1;

      .label {
        display: inline-block;

        

        border-radius: 0.6rem;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

        padding: 0.2rem 0.4rem;

        font-size: 0.8rem;
        

        z-index: 2;
      }
    }

    .col-content {
      flex: 9;

      .heading {
        margin-top: 0;
        margin-bottom: 0.5rem;
      }
    }
  }
}

body.dark {
  .list-timeline {
    .vertical-line {
      border-left-color: #fefefe;
    }

    .item .col-ident .label {
      background-color: #fefefe;
      color: #222;
    }
  }
}

body.light {
  .list-timeline {
    .vertical-line {
      border-left-color: #222;
    }

    .item .col-ident .label {
      background-color: #222;
      color: #fefefe;
    }
  }
}
