.grid-responsive {
  display: grid;
}

@include media-breakpoint-down(md) {
  .grid-responsive {
    // left or top
    .lot {
      grid-column: 1;
      grid-row: 1;
    }

    // right or bottom
    .rob {
      grid-column: 1;
      grid-row: 2;
    }
  }
}

@include media-breakpoint-up(lg) {
  .grid-responsive {
    // left or top
    .lot {
      grid-column: 1;
      grid-row: 1;
    }

    // right or bottom
    .rob {
      grid-column: 2;
      grid-row: 1;
    }
  }
}
