$progressbar-border-radius: 30px;

.progress-small {
  display: flex;
  height: 0.6em;

  padding: 0;
  background-color: rgb(240, 240, 240);
  box-shadow: #c6c6c6 0px 0px 2px 0px;

  border-radius: $progressbar-border-radius;

  overflow: hidden;

  .progress-bar {
    display: flex;

    margin: 0;
    padding: 0;

    flex-direction: row;
    align-items: stretch;
  }
}
