@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");

$core-text__font-family: Roboto;

$_font-apply-elements: (
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  em,
  a input,
  button,
  checkbox,
  radio
);

$text-alignments: (left, center, right);

.text {
  @each $alignment in $text-alignments {
    &-align-#{$alignment} {
      text-align: $alignment;
    }
  }

  &-dark {
    & .text-muted {
      color: lighten(rgb(5, 5, 5), 25%);
    }
  }

  &-muted {
    color: darken($app--color, 10%);
  }

  &-darken {
    color: darken($app--color, 25%);
  }

  &-size {
    &-smaller {
      font-size: 0.85em;
    }

    &-small {
      font-size: 0.75em;
    }
  }

  &-weight {
    &-normal {
      font-weight: 400;
    }

    &-light {
      font-weight: 300;
    }

    &-thin {
      font-weight: 100;
    }
  }

  &-line-spacing {
    &-expand {
      line-height: 1.5em;
    }
  }

  &-upper-heading {
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  &-readable {
    &-2x {
      line-height: 22px;
    }
  }
}

/// Elemental styling

#{selector-nest($_font-apply-elements)} {
  font-family: $core-text__font-family;
}

h1,
h2,
h3 {
  font-weight: 100;
}
