@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

$core-text__font-family: Roboto;

$_font-apply-elements: (
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  em,
  a
  input,
  button,
  checkbox,
  radio
);

$text-alignments: (
  left,
  center,
  right
);

.text {
  @each $alignment in $text-alignments {
    &-align-#{$alignment} {
      text-align: $alignment;
    }
  }

  &-muted {
    color: darken($app--color, 10%);
  }

  &-darken {
    color: darken($app--color, 25%);
  }

  &-size {
    &-smaller {
      font-size: 0.85em;
    }

    &-small {
      font-size: 0.75em;
    }
  }

  &-weight {
    &-light {
      font-weight: 300;
    }

    &-thin {
      font-weight: 100;
    }
  }

  &-line-spacing {
    &-expand {
      line-height: 1.5em;
    }
  }
}

/// Elemental styling

#{selector-nest($_font-apply-elements)} {
  font-family: $core-text__font-family;
}

h1,
h2,
h3 {
  font-weight: 100;
}