@import "_theme-config";

@import "bootstrap/scss/bootstrap";

@import "Core/UI/Icons";

@import "Core/UI/Utils";
@import "Core/UI/Layout";
@import "Core/UI/Deck";
@import "Core/UI/Timeline";
@import "Core/UI/Text";
@import "Core/UI/Progress";
@import "Core/UI/ListItem";

@import "Core/UI/Header";
@import "Core/UI/Footer";
@import "Core/UI/Actions";
@import "Core/UI/Pages";

body {
  margin: 0;
  padding: 0;

  font-size: 15px;

  cursor: default;

  transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;

  &.dark {
    background-color: $app--background-color;
  }
  &.light {
    background-color: $app--background-color--light;
  }
}

.app-root {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .app-header-container {
    flex: auto;
  }

  .page {
    flex: auto;

    .page-container {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  }
}

a {
  &:link,
  &:visited {
    text-decoration: none;

    color: rgb(0, 75, 155);
  }

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:active {
    color: darken(rgb(0, 75, 155), 20%);
  }
}
