@import "_theme-config";

@import "Core/UI/Utils";
@import "Core/UI/Layout";
@import "Core/UI/Text";

@import "Core/UI/Actions";

html, body {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 15px;

  cursor: default;
}

.content-container {
  min-height: 100vh;

  &.dark {
    background-color: $app--background-color;
    color: $app--color;
  }

  &.light {
    background-color: rgb(250, 250, 250);
    color: rgb(5, 5, 5);
  }

  transition:
    background-color .25s ease-in-out,
    color .25s ease-in-out;
}



@media (min-width: 1020px) {
  .content {
    margin: auto;
    max-width: 960px;
  }

  .app-header-container {
    padding: 1rem 0;
  }
}

@media (max-width: 1020px) {
  .content {
    margin: auto;
    padding: 0 2rem;
  }

  .app-header-container {
    padding: 1rem 2rem;
  }
}

.app-header-container {
  position: relative; 
}
.app-header {
  @include flex-container(row, space-between, flex-start);
  padding: 0.5rem 0;

  .header-brand {
    @include flex-container(column, space-between, center, center);
    //padding-top: 1rem;

    .brand-logo {
      width: auto;
      height: 92px;      

      fill: rgb(0, 115, 255);
    }

    .brand-name {
      display: none;

      margin: 1rem 0 0 0;

      font-size: 1.25rem;
      font-weight: 300;

      color: rgb(250, 250, 250);
    }
  }

  ul.header-right-nav {
    flex: 1;

    @include flex-container(row, flex-end, center, nowrap);
    margin: 0;
    padding: 0;
    list-style-type: none;
    

    li {
      display: inline-block;
      margin: 0 1rem;

      &:last-child {
        margin-right: 0;
      }

      line-height: 1em;

      a {
        display: inline-block;

        font-size: 0.75em;
        font-weight: 500;

        color: rgb(225, 225, 225);
        text-decoration: none;
      }
    }
  }
}

a {
  &:link,
  &:visited {
    text-decoration: none;

    color: rgb(0, 75, 155);
  }

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:active {
    color: darken(rgb(0, 75, 155), 20%);
  }
}